* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #202124;
  color: white;
}

.header {
  margin: 10px;
}

.note-and-search {
  display: flex;
}

.header h1 {
  display: inline;
  flex-grow: 1;
}

.note-search-wrapper {
  flex-grow: 1;
  display: inline;
}

.note-search {
  float: right;
  height: 100%;
  width: 40%;
}

.header-line {
  margin-top: 8px;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

input, textarea {
  padding: 12px;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

textarea {
  height: 200px;
}

.note-form {
  margin: 0 auto;
  width: 450px;
  margin-top: 25px;
}

.note-form input, .note-form textarea {
  display: block;
  width: 100%;
}


.note-form button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.note-form button:hover {
  background: whitesmoke;
  color: black;
}

.characters-left {
  float: right;
  font-size: 14px;
  color: #aaa;
}