* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #202124;
  color: white;
  min-width: 453px;
}

.header {
  margin: 10px;
}

.note-and-search {
  display: flex;
}

.header h1 {
  display: inline;
  flex-grow: 1;
}

.note-search-wrapper {
  flex-grow: 1;
  display: inline;
}

.note-search {
  float: right;
  height: 100%;
  width: 40%;
}

.header-line {
  margin-top: 8px;
}

input::placeholder, textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

input, textarea {
  padding: 12px;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

textarea {
  height: 200px;
}

.note-form {
  margin: 0 auto;
  width: 450px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.note-form input, .note-form textarea {
  display: block;
  width: 100%;
}

.note-form button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  font-family: 'Inter', sans-serif;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.note-form button:hover {
  background: whitesmoke;
  color: black;
}

.characters-left {
  float: right;
  font-size: 14px;
  color: #aaa;
}

/* .note-list {
  margin: 0 auto;
  background: transparent;
  width: 50%;
} */

.note-list {
  width: 86%;
  margin: 0 auto;
  background: transparent;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
}

.note-item__body {
  font-size: 14px;
  word-wrap: break-word;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  color: #ff5f52;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #c49000;
}

.note-item__delete-button:hover {
  color: #b00020;
}

@media only screen and (min-width: 0px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 524px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 750px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1048px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}